@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
	/* (sub-heading at the top of the app UI) */
	--Pale-Violet: hsl(276, 100%, 81%);

	/*  (chat on the left) */
	--Moderate-Violet: hsl(276, 55%, 52%);

	/* (chat on the right) */
	--Desaturated-Dark-Violet: hsl(271, 15%, 43%);

	/* (placeholder text) */
	--Grayish-Blue: hsl(206, 6%, 79%);

	/* (main heading) */
	--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);

	/*  (paragraph) */
	--Dark-Grayish-Violet: hsl(270, 7%, 64%);

	/* #### Gradients */
	--Light-Magenta: hsl(293, 100%, 63%);
	--Light-Violet: hsl(264, 100%, 61%);
	--White: hsl(0, 0%, 100%);

	/* (app background) */
	--Light-Grayish-Violet: hsl(270, 20%, 96%);

	/* (submit button background) */
	--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);

	/* (radio button outline) */
	--Very-Light-Magenta: hsl(279, 40%, 94%);
	--Font-size: 16px;
	--Family: "Rubik", sans-serif;
}

* {
	font-family: var(--Family);
	font-size: var(--Font-size);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background: var(--Light-Grayish-Violet);
}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bg-ele {
	background: linear-gradient(30deg, var(--Light-Violet), var(--Light-Magenta));
	position: absolute;
	top: -290px;
	left: -340px;
	height: 960px;
	width: 500px;
	border-radius: 1000px;
	z-index: 0;
}
.appui {
	position: relative;
	display: flex;
	justify-content: center;
	width: 420px;
}

.container {
	transform: scale(0.7);
	margin-top: 3rem;
	width: 80%;
	min-width: 336px;
	background: var(--Light-Grayish-Violet);
	border: 0.7rem solid var(--White);
	overflow: hidden;
	border-radius: 2.8rem;
	box-shadow: 0 20px 70px #00000020;
}

/* 
profile section
 */
.profilebox {
	width: 100%;
	background: linear-gradient(90deg, var(--Light-Violet), var(--Light-Magenta));
	border-radius: 0.4rem;
}

.profile {
	display: flex;
	padding: 1rem 1rem 0.5rem 1.5rem;
}

.notch {
	width: 62%;
	height: 1.2rem;
	margin: -0.2rem auto 0 auto;
	background: #fff;
	border-radius: 0 0 0.8rem 0.8rem;
}

.profile-image {
	width: 2.3rem;
	border: 0.15rem solid #fffa;
	border-radius: 50%;
}

.name-div {
	margin-left: 0.66rem;
}

.profile-name {
	color: white;
	font-weight: 500;
}

.profile-type {
	margin-top: 3px;
	color: var(--Pale-Violet);
}

/* 
chat section
 */

.chatsbox {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.66rem;
}

.chat-component {
	width: 100%;
	margin: 0.35rem auto;
}

.chat {
	width: 60%;
	padding: 0.66rem;
	text-align: left;
}

.chat p {
	font-size: 0.78rem;
	font-weight: 400;
}

.left-chat {
	background: var(--Very-Light-Magenta);
	color: var(--Moderate-Violet);
	border-radius: 0.71rem 0.71rem 0.71rem 0.2rem;
}

.right-chat {
	background: white;
	float: right;
	color: var(--Desaturated-Dark-Violet);
	border-radius: 0.71rem 0.71rem 0.2rem 0.71rem;
	box-shadow: 8px 8px 10px #00000009;
}

.images {
	background: transparent;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 70%;
	box-shadow: none;
}

.dog-image {
	width: 3.5rem;
	border-radius: 0.5rem;
	margin: -0.5rem 0;
	margin-left: 0.3rem;
}

.pricing {
	display: flex;
	background: linear-gradient(90deg, var(--Light-Magenta), var(--Light-Violet));
	color: white;
	width: 70%;
}

.pricing p {
	line-height: 1.5;
	margin-left: 0.4rem;
}

.pricing span {
	margin-left: auto;
	margin-right: 0.3rem;
	font-size: 1.1rem;
	font-weight: 700;
}

.radio {
	border-radius: 50%;
	border: 2px solid var(--Very-Light-Magenta);
	opacity: 0.3;
	height: 1rem;
	width: 1rem;
}

.messagebox {
	width: 100%;
	display: flex;
	position: relative;
}

input[type="text"] {
	width: 100%;
	margin: 0.7rem;
	border-radius: 4rem;
	padding: 0.8rem 1.2rem;
	outline: none;
	border: none;
	/*color: var(--Grayish-Blue);*/
}

.messagebox a {
	position: absolute;
	background: var(--Very-Dark-Desaturated-Violet);
	left: 89.5%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 4rem;
	text-align: center;
	color: white;
	line-height: 1.4;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
}

.chat:hover {
	transform: scale(0.99);
	opacity: 0.9;
}

.details {
	width: 90%;
	text-align: center;
	margin: -5rem;
	padding: 2rem;
}

.details h1 {
	font-size: 2.5rem;
	margin: 1rem auto;
	color: var(--Very-Dark-Desaturated-Violet);
}

.details p {
	color: var(--Dark-Grayish-Violet);
	font-size: 1.1rem;
	line-height: 1.5;
}

@media (min-width: 756px) {
	.main {
		/* background: var(--Light-Grayish-Violet); */
		width: min(100vw, 1200px);
		min-height: 100vh;
		margin: auto;
		flex-direction: row;
	}

	.container {
		width: 80%;
		margin: 3rem auto;
	}

	.details {
		text-align: left;
		width: 50%;
	}
}
